# Dependencies, objects, and libraries
*.d
*.o
*.a

# Build directories
bin
lib
obj
build

# Tools
gfa2gbwt

# Tests
test_algorithms
test_cached_gbwtgraph
test_gbwtgraph
test_gbz
test_gfa
test_index
test_minimizer
test_path_cover
test_utils

# Mac
.DS_Store

# emacs
*~

# vim
\#*
\.#*

# VSCode
.vscode
